.huixian{width:96%;margin-left: 2%;border-bottom: #ccc 1px solid;}
#button{display: block;margin-top: 5vw;margin-left: 25vw;margin-bottom: 3vw;line-height: 10vw;font-size: 5vw;text-decoration: none;text-align: center;}
.nr{text-decoration: none;}
.nr>div{padding:1vw 3vw;text-decoration: none;}
a{text-decoration: none;}
.fankui{margin-top: 5vw;margin-left: 5vw;margin-bottom: 3vw;margin-right: 5vw;}