<include file="common:header" />
<body>
 
 
<div class="main-container" id="main-container">
  <div class="main-container-inner"> <a class="menu-toggler" id="menu-toggler" href="#"> <span
				class="menu-text"></span> </a>  
    <div class="main-content">
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="widget-box transparent" id="recent-box">
              <div class="widget-header">
                <div class="widget-toolbar no-border">
                  <ul class="nav nav-tabs" id="recent-tab">
                   
                    <li><a href="{:U(CONTROLLER_NAME.'/index')}">管理员列表</a></li>
                    <li class="active"><a href="">设置密码</a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <br>
            <div class="main-container" id="main-container"> 
              <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
        <script type="text/javascript">
		 $(document).ready(function(){
			 
			 $("#js_submit_role").click(function(){
				 
				 if($("#password").val() ==  "")
				 {
					 alert("密码不能为空");
					 $("#password").focus();
					 return false;
				 }
				  
				 var data ="&password="+$("#password").val()+"&id="+$("#id").val()+"&action=password";
				 
				   	
				 $.ajax({
					 url:"{:u(CONTROLLER_NAME . '/setAdminPassword')}",
					 type:"POST",
					 dataType:"json",
					 data:data,
					 success:function(res){
						  
						 if(res.result == 'success'){
							 alert("保存成功");
							 location.href="{:u(CONTROLLER_NAME . '/admin')}";
						 }else{
							 alert("保存失败")
						 }
						 
					 }
				 });
				 
				  return false;
			 });
		 });
		 
		 </script>
		<div style="width:300px;">
			<form  id="form1">
			<div class="form-horizontal">
				<div class="control-group">
					<input type="hidden" value="{$admin.id}" name="id" id="id">
					<label class="control-label">账号:</label>
					<div class="controls">
						<input class="form-control input-xlarge" id="disabledInput" type="text" value="{$admin.account}" disabled>


					</div>
				</div>
				<div class="control-group">
					<input type="hidden" value="{$admin.id}" name="id" id="id">
					<label class="control-label">姓名:</label>
					<div class="controls">
						<input class="form-control input-xlarge" id="disabledInput" type="text" value="{$admin.real_name}" disabled>

							 
					</div>
				</div>
				 

				<div class="control-group">
					<label class="control-label">新密码</label>
					<div class="controls">
						<input type="password" class="width250 fl dpb form-control input-xlarge" id="password" name="password"
							placeholder="登录密码" maxlength="20">  <span class="colorf00 dpb fl lh30 margin010">*必填 </span>
							 <div class="clb"></div> 
					</div>
				</div>
			 
			</div>

			<div class="tool_area">
				<div class="tool_bar ">
	<br>
 		<button id="js_submit_role" class="btn btn-secondary">
						 保存</button>
						 <a href="javascript:history.go(-1)" class="btn btn-pink">取消</a>


					 
				</div>

			</div>
			</form>
		</div>
	  </div>
            <!-- /.main-container --> 
          </div>
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
    <!-- /.main-content --> 
    
  </div>
  <!-- /.main-container-inner --> 
    
  <a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i> </a> </div>
<include file="common:footer" />


 




 







 