<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>表单元素 - 素材火 Admin</title>

<meta name="description" content="Common form elements and layouts" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- 		<link rel="stylesheet" href="assets/css/font-awesome.min.css" /> -->
<link rel="stylesheet" href="assets/css/ace.min.css" />

</head>

<body>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			 

			<div class="controls col-xs-12 col-sm-9">
				<div class="row">
					<div class="col-xs-3">
						<label> <input name="switch-field-1"
							class="ace ace-switch" type="checkbox" /> <span class="lbl"></span>
						</label>
					</div>

					<div class="col-xs-3">
						<label> <input name="switch-field-1"
							class="ace ace-switch ace-switch-2" type="checkbox" /> <span
							class="lbl"></span>
						</label>
					</div>

					<div class="col-xs-3">
						<label> <input name="switch-field-1"
							class="ace ace-switch ace-switch-3" type="checkbox" /> <span
							class="lbl"></span>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<label> <input data-off-text="下架" name="switch-field-1"
							class="ace ace-switch ace-switch-4" type="checkbox" /> <span
							class="lbl"></span>dd
						</label>
					</div>

					<div class="col-xs-3">
						<label> <input name="switch-field-1"
							class="ace ace-switch ace-switch-5" type="checkbox" /><span
							class="lbl"></span>
						</label>
					</div>

					<div class="col-xs-3">
						<label> <input name="switch-field-1"
							class="ace ace-switch ace-switch-6" type="checkbox" /> <span
							class="lbl"></span>
						</label>
					</div>

					<div class="col-xs-3">
						<label> <input name="switch-field-1"
							class="ace ace-switch ace-switch-7" type="checkbox" /> <span
							class="lbl"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
