 
		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>

		<!-- dataTables -->

		<script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>

		<!-- ace scripts -->

		<script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>
		 <!-- bootstrap -->
		<script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__PUBLIC__/Admin/assets/js/excanvas.min.js"></script>
		<![endif]-->

	
		<script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>

		<!-- jqGrid -->
	<script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script>

		<!-- ace scripts -->

		 
	 
		<script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.slimscroll.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.sparkline.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/flot/jquery.flot.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/flot/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->

		<script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>
		
<script>

$('.form_date').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	minView: 2,
	forceParse: 0
});
</script>
 
	</body>
</html>